.char2 {
	margin-left: -0.033em
}
.char3 {
	margin-left: -0.067em
}
.char5 {
	margin-left: -0.133em
}
.char6 {
	margin-left: -0.067em
}
.char7 {
	margin-left: -0.1em
}
.char8 {
	margin-left: -0.033em
}
.char9 {
	margin-left: -0.067em
}
.char10 {
	margin-left: -0.067em
}
.char12 {
	margin-left: -0.133em
}
.char13 {
	margin-left: -0.033em
}
.char14 {
	margin-left: -0.067em
}
.char15 {
	margin-left: -0.033em
}
.char16 {
	margin-left: -0.033em
}
.char17 {
	margin-left: -0.067em
}
.char18 {
	margin-left: -0.067em
}

